.save{
  width: 140px;
  position: relative;
  top: -512px;
  left: 1100px;
  color: white;
  background-color: #3071cd;
}

.pp1{
  height: 100px;
  width: auto;
  position: relative;
  top: -830px;
  left: 1300px;
}

.y2{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y3{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y4{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y5{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y6{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y7{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y8{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y9{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y10{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y11{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y12{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}

.y13{
  position: relative;
  top: -35px;
  width: 900px;
  left: 20px;
  height: auto;
  font-weight: bold;
}