ul{
  margin: 0;
  padding: 0;
  }
  
li a{
  color: white;
  display: flex;
  width: 90px;
  padding: 7.5%;
  text-decoration: none;
  }

li a:hover{color: orange}

nav{
  background-color: #23282d;
  width: 260px;
  height: 700px;
  margin: 0;
  padding: 0;
}

.logo{
  width: 70px;
  position: relative;
  top: -5px;
  left: 10px;
}

.logo2{
  height: 28px;
  position: relative;
  top: -2px;
  left: 2px;
}

.logo3{
  height: 25px;
  position: relative;
  top: 2px;
  left: -20px;
}
.escritorio{
  float: right;
  position: relative;
  left: -135px;
  top: -14px;
}

.logo4{
  height: 27px;
  position: relative;
  top: 15px;
  left: -22px;
}
.agenda{
  float: right;
  position: relative;
  left: -43px;
  top: -1px;
}

.logo5{
  height: 30px;
  position: relative;
  top: 25px;
  left: -24px;
}
.consultorios{
  float: right;
  position: relative;
  right: 133px;
  top: -20px;
}

.logo6{
  height: 28px;
  position: relative;
  top: 33px;
  left: -23px;
}
.citas{
  float: right;
  position: relative;
  left: -42px;
  top: -10px;
}

.logo7{
  height: 35px;
  position: relative;
  top: 40px;
  left: -27px;
}
.visitas{
  float: right;
  position: relative;
  left: -131px;
  top: -28px;
}

.logo8{
  height: 27px;
  position: relative;
  top: 48px;
  left: -21px;
}
.antecedentes{
  float: right;
  position: relative;
  left: -40px;
  top: 5px;
}

.logo9{
  height: 27px;
  position: relative;
  top: 60px;
  left: -22px;
}
.diagnosticos{
  float: right;
  position: relative;
  left: -130px;
  top: -12px;
}

.logo10{
  height: 26px;
  position: relative;
  top: 70px;
  left: -20px;
}
.recomendaciones{
  float: right;
  position: relative;
  left: -41px;
  top: 25px;
}

.logo11{
  height: 26px;
  position: relative;
  top: 85px;
  left: -20px;
}
.historialmedico{
  float: right;
  position: relative;
  left: -129px;
  top: -5px;
}

.logo12{
  height: 26px;
  position: relative;
  top: 105px;
  left: -20px;
}
.historialvacuna{
  float: right;
  position: relative;
  left: -38px;
  top: 46px;
}

.logo13{
  height: 27px;
  position: relative;
  top: 120px;
  left: -20px;
}
.asistentes{
  float: right;
  position: relative;
  left: -127px;
  top: 20px;
}

.logo14{
  height: 27px;
  position: relative;
  top: 130px;
  left: -21px;
}
.pacientes{
  float: right;
  position: relative;
  left: -37px;
  top: 55px;
}

.logo15{
  height: 30px;
  position: relative;
  top: 140px;
  left: -19px;
}
.informes{
  float: right;
  position: relative;
  left: -126px;
  top: 34px;
}

.logo16{
  height: 30px;
  position: relative;
  top: 150px;
  left: -22px;
}
.consultas{
  float: right;
  position: relative;
  left: -36px;
  top: 75px;
}

.logo17{
  height: 26px;
  position: relative;
  top: 125px;
  left: -20px;
}
.personalizar{
  float: right;
  position: relative;
  left: -127px;
  top: 55px;
}

.logo18{
  height: 25px;
  position: relative;
  top: 135px;
  left: -20px;
}
.configuracion{
  float: right;
  position: relative;
  left: -39px;
  top: 90px;
}